DEBUG=false

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ibr_explorer
POSTGRES_PASSWORD=ibr_explorer_password
POSTGRES_DATABASE=ibr_explorer

TOKEN_KEY=[IBR_EXPLORER_API]
TOKEN_ISSUER=matheussilvestre3@edu.univali.br
PASSWORD_PEPPER=tcc-ibr-explorer

APP_EMAIL_URL=http://app.ibr-explorer.localhost/

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=

PCAP_WORKER_CHILDREN=1
PCAP_WORKER_USER_ID=1
PCAP_WORKER_POLL_SECONDS=30
PCAP_PACKET_BATCH_SIZE=500
PCAP_TSHARK_BIN=tshark
PCAP_TSHARK_TIMEOUT_SECONDS=30

VITE_API_URL=http://localhost:8080
