DEBUG=false

MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=ibr_explorer
MYSQL_PASSWORD=ibr_explorer_password
MYSQL_DATABASE=ibr_explorer

TOKEN_KEY=[IBR_EXPLORER_API]
TOKEN_ISSUER=matheussilvestre3@edu.univali.br
PASSWORD_PEPPER=tcc-ibr-explorer

APP_URL=http://app.ibr-explorer.localhost/
API_URL=http://api.ibr-explorer.localhost/

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=